# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
stats.html

# production
dist

# misc
.DS_Store
*.local
*.pem
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ide
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
